<!DOCTYPE html>
<html lang="en">
<head >
    <title>FocusFlow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/web/static/css/style.css"/>
</head>
<body >
    <section aside>
        bookings
        </section>
        <br>
        <section>

            requests
        </section>
        <br>
            <section>
                online
            </section>
        <br>
        </section>
        previous appointments
    </section>
</body>
</html>