<!DOCTYPE html>
<html lang="en">
<head >
    <title>FocusFlow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <title>FocusFlow</title>
</head>
<body >
    <header >
        <nav > 
            <ul >
            <li><a action="/Schedule">Schedule</a></li>
            <li><a action="/Events">Events</a></li>
            <li><a action="/Appointments">Appointments</a></li>
            </ul>
        </nav>
    </header>
    <div class="highlight">NEXT UP
    <table id="next-table" border="1">
    <thead>
        <tr>
            <th>Event</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>hi</td>
            <td>today</td>
        </tr>
        
        <tr>
            <td>here</td>
            <td>now</td>

        </tr>

    </tbody>
    </table>
    </div>
    <hr>
    <div class="highlight">
        <form method="get" action="/NewEvent">
    <button>SET NEW</button></a>
    </form>
    <table id="recap-table">
        <thead>
            <tr>
                <th>Event</th>
                <th>Recap</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{.Event}}</td> 
                <td>{{.Time}}</td>              
            </tr>   
            <tr>
                <td>Studying</td> 
                <td>Ontime</td> 
            </tr>

            
        </tbody>
    </table>
    </div>  
</body>
</html>