<!DOCTYPE html>
<html lang="en">
<head >
    <title>FocusFlow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body >
    <form method="post" action="/AddEvent">
   <input type="text" name="AddEvent" required>
   <input type="date" name="Date" required>
   <input type="time" name="Time" required>
   <button type="submit">Submit</button>
    </form>
    <table border="1">
    <thead>
        <tr>
        <th>EVENTS</th>
        <th>DATE</th>
        <th>TIME</th>
        </thead>
        </tr>
    </thead>
    <tbody>
        {{range .Events}}
        <tr><td>{{.AddEvent}}</td>
            <td>{{.Date}}</td>
            <td>{{.Time}}</td>
            <td>
                <form method="post" name="DeleteEvent" action="/Delete">
                    <input type="hidden" name="DeleteEvent" value="{{.AddEvent}}">
                    <button type="submit">DELETE</button>
                </td>
                </form>
            </tr>
    {{end}}
    </tbody>
    </table>
</body>
</html>