<!DOCTYPE html>
<html lang="en">
<head >
    <title>FocusFlow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body >
    <form method="post" action="/AddEvent">
   <input type="text" name="AddEvent" required>
   <!-- <input type="date" name="Date"> -->
   <button type="submit">Submit</button>
    </form>
    <table border="1">
    <thead>
        <tr>
        <th>Events</th></tr>
    </thead>
    <tbody>
        {{range .Events}}
        <tr><td>
            <form method="post" action="/Delete">
                <button>{{.AddEvent}}</button></td>
                <form>
        </tr>
    {{end}}
    </tbody>
    </table>
</body>
</html>